footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours Logo')
    ul.footer__nav
        li: a(herf='#') About us
        li: a(herf='#') Downlod Apps
        li: a(herf='#') Become a guide
        li: a(herf='#') contact us 
    p.footer__copyright &copy: by Mohamed atef